## Print Function

In [1]:
print("Nepal is an agricultural country")

Nepal is an agricultural country

## Indentation in Python

In [2]:
if 3>2:
print("3 is greater than 2")

IndentationError: expected an indented block (2063319097.py, line 2)

In [3]:
if 3>2:
    print("3 is greater than 2")

3 is greater than 2

## Comment in python

In [4]:
# Single line comment
print("Agriculture sector engages around 66% of the total population in Nepal.")

Agriculture sector engages around 66% of the total population in Nepal.

In [5]:
""" 
Multi-line comment
Out of 2.7 million hectares of agricultural land in Nepal, only 1.3 Mha have irrigation facilities. 
The majority of irrigation systems are small and medium-scale.
"""
print("A recent study funded by the Climate and Development Knowledge Network (CDKN) revealed that about 0.8% of agricultural GDP is being lost annually due to climate change and extreme events.")

A recent study funded by the Climate and Development Knowledge Network (CDKN) revealed that about 0.8% of agricultural GDP is being lost annually due to climate change and extreme events.

## Variable

In [6]:
location = "Nepal"
print(location)

Nepal

## Data Types in Python

## Integer

In [7]:
# 66% of total population involve in agriculture
population = 66
type(population)

int

## Float

In [8]:
# 28.75% of land is used for agriculture in Nepal.
land_used = 28.75
type(land_used)

float

## String

In [9]:
characters = "Agriculture is the science or practice of farming, including cultivation of the soil for the growing of crops and the rearing of animals to provide food, wool, and other products."
type(characters)

str

## list
<ul>
    <li>Ordered</li>
    <li>Changeable</li>
    <li>Allow Duplications</li>
<ul>

In [10]:
# National area by ecological belt in square kilometer
mountain = 51817
hill = 61345
terai = 34019
data = [mountain, hill, terai]
type(data)

list

## Tuple
<ul>
    <li>Ordered</li>
    <li>Unchangeable</li>
    <li>Allow Duplications</li>
<ul>

In [11]:
data = (mountain, hill, terai)
type(data)

tuple

## Dictionary
<ul>
    <li>Ordered or Unordered</li>
    <li>Changeable</li>
    <li>Duplication not Allows</li>
<ul>

In [12]:
data = {"mountain": mountain, "hill":hill, "terai": terai}
type(data)

dict

## Set
<ul>
    <li>Unordered</li>
    <li>Unchangeable</li>
    <li>Duplication not allows</li>
<ul>

In [13]:
data = {mountain, hill, terai}
type(data)

set

## Type Casting

In [14]:
mountain_area = mountain
print(type(mountain_area))

mountain_area = float(mountain)
print(type(mountain_area))

<class 'int'>
<class 'float'>