## Exception handling
An exception is an error which happens at the time of execution of a program. However, while running a program, Python generates an exception that should be handled to avoid program to crash.

## Error type
<ul>
    <li>Compile time</li>
    <li>Logical</li>
    <li>Run time</li>
</ul>

In [5]:
# here is no error
a = 10
b = 2
c = a/b
print(c)

5.0

In [14]:
# Error occured
a = 10
b = 0
c = a/b # execution stop 
print(c) 
print("new information")

ZeroDivisionError: division by zero

## try except

In [28]:
a=5
b=2
try:
    print(a/b)
except Exception as e:
    print(f'{e}')

2.5

In [30]:
a=5
b=0
try:
    print(a/b)
except Exception as e:
    print(f'{e}')

division by zero

In [31]:
a=5
b=0
try:
    print(a/b)
except Exception as e:
    print("Number can not divided by zero.") # more informative

Number can not divided by zero.

In [40]:
# no close operation
a=5
b=0
try:
    print("Dabatabse connection open")
    print(a/b)
    print("Dabatabse connection close")
except Exception as e:
    print("Number can not divided by zero.")

Dabatabse connection open
Number can not divided by zero.

In [41]:
# close operation but what if the exception does not occur
a=5
b=0
try:
    print("Dabatabse connection open")
    print(a/b)
except Exception as e:
    print("Number can not divided by zero.")
    print("Dabatabse connection close")

Dabatabse connection open
Number can not divided by zero.
Dabatabse connection close

In [42]:
a=5
b=2
try:
    print("Dabatabse connection open")
    print(a/b)
except Exception as e:
    print("Number can not divided by zero.")
    print("Dabatabse connection close")

Dabatabse connection open
2.5

## else

In [1]:
a=5
b=2
try:
    print("Dabatabse connection open")
    print(a/b)
except ZeroDivisionError as e:
    print("Can not be divided by zero")
except ValueError as e1:
    print("Invalid input")
except Exception as e2:
    print("Something went wrong")
else:
    print("Dabatabse connection close")

Dabatabse connection open
2.5
Dabatabse connection close

In [4]:
# if the exception occur the else condition doesnot executed so use finally
a=5
b=0
try:
    print("Dabatabse connection open")
    print(a/b)
except ZeroDivisionError as e:
    print("Can not be divided by zero")
else:
    print("Dabatabse connection close")

Dabatabse connection open
Can not be divided by zero

## finally
always executed while exception occur or not

In [43]:
a=5
b=2
try:
    print("Dabatabse connection open")
    print(a/b)
except Exception as e:
    print("Number can not divided by zero.")
finally:
    print("Dabatabse connection close")

Dabatabse connection open
2.5
Dabatabse connection close

In [44]:
a=5
b=0
try:
    print("Dabatabse connection open")
    print(a/b)
except Exception as e:
    print("Number can not divided by zero.")
finally:
    print("Dabatabse connection close")

Dabatabse connection open
Number can not divided by zero.
Dabatabse connection close

## Specific exception handling

In [46]:
a=5
b=0
try:
    print("Dabatabse connection open")
    print(a/b)
except ZeroDivisionError as e:
    print(e)
finally:
    print("Dabatabse connection close")

Dabatabse connection open
division by zero
Dabatabse connection close

In [51]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
try:
    print("Dabatabse connection open")
    print(a/b)
except ZeroDivisionError as e:
    print("Can not be divided by zero")
except ValueError as e1:
    print("Invalid input")
except Exception as e2:
    print("Something went wrong")
finally:
    print("Dabatabse connection close")

Enter a number10
Enter a numberas

ValueError: invalid literal for int() with base 10: 'as'